LOCAL_USERBOT_API_ID=0
LOCAL_USERBOT_API_HASH=
LOCAL_USERBOT_DOWNLOAD_CHANNEL_ID=-100xxxxxxxxxx
LOCAL_USERBOT_UPLOAD_CHANNEL_ID=-100yyyyyyyyyy
LOCAL_USERBOT_CHANNEL_ID=
LOCAL_USERBOT_ROOT=E:\资源\userbot
LOCAL_USERBOT_POLL_MINUTES=15
LOCAL_USERBOT_UPLOAD_MINUTES=30
LOCAL_USERBOT_UPLOAD_DIR=E:\资源\userbot\upload_queue
LOCAL_USERBOT_UPLOADED_DIR=E:\资源\userbot\uploaded
LOCAL_USERBOT_STATE_FILE=E:\资源\userbot\state.json
LOCAL_USERBOT_SESSIONS_FILE=E:\资源\userbot\sessions.txt
LOCAL_USERBOT_STRING_SESSIONS_JSON=
